name: Deploy to CapRover

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Create deployment tarball
        run: |
          tar -czf /tmp/deploy.tar --exclude='.git' --exclude='.github' .
          mv /tmp/deploy.tar .

      - name: Deploy to CapRover
        uses: caprover/deploy-from-github@v1.1.2
        with:
          server: ${{ secrets.CAPROVER_SERVER }}
          app: ${{ secrets.CAPROVER_APP }}
          token: ${{ secrets.CAPROVER_APP_TOKEN }}
